<!DOCTYPE html>
<html>
<head>
    <title>Partial View Example</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="navbar">
            <div class="navbar-brand">PartialView Exp.</div>
            <ul>
                <li> <a href="~/">Home</a> </li>
                <li> <a href="~/About">About</a> </li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>