@{
    ViewData["Title"] = "All Product";
}

<html xmlns="http://www.w4.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        All Products
    </h1>
    <p>This is all product page!</p>
</body>
</html>
