@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewData["Title"] = "Search Product";
}

<html xmlns="http://www.w4.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Search 
    </h1>
    <p>This is search product page!</p>
</body>
</html>
