@{
    ViewData["Title"] = "Search Product";
    if (ViewBag.productId != null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
}

<html xmlns="http://www.w4.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Search
    </h1>
    <p>This is search product page!</p>
</body>
</html>
