################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CitiesService
/CitiesServiceContract/obj
/ControllersExample/obj
/CRUDExample
/CRUDTest
/Entities
/IActionResultExample/obj
/PartialViewExample/obj
/routing/obj
/routing_assignment/obj
/ServiceContracts
/ServiceExample
/Services
/StockApi
/ViewComponentExample
