################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CitiesService
/CitiesServiceContract/obj
/PartialViewExample/obj
/ServiceExample
/StockApi
/ViewComponentExample
