@{
    ViewBag.Title = "Home";
}

<h1> Home Page</h1>

<button class="button button-blue-back" id="friendlist_button">Get Friends</button>
<div class="friends_list"></div>

<script src="~/friends.js"></script>
