@{
    ViewBag.Title = "Home";
}

<h1> Home Page</h1>

@{
    PersonGrid grid = new PersonGrid()
            {
                Title = "Employees",
                Persons = new List<Person>()
                {
                    new Person
                    {
                        PersonName = "Shyam",
                        JobTitle = "Manager"
                    },
                    new Person
                    {
                        PersonName = "Ram",
                        JobTitle = "CEO"
                    },
                    new Person
                    {
                        PersonName = "Krishna",
                        JobTitle = "Ass. Manager"
                    },
                }

            };
}
@await Component.InvokeAsync("Grid", new {
    grid = grid,
})
