<h1>Home</h1>

<partial name="_ListPartialView"></partial>

<div class="box">
    @{
        var myViewData = new ViewDataDictionary(ViewData);
    myViewData["Title"] = "Cities";
    myViewData["ListItems"] = new List<string>
        ()
        {
        "Pune",
        "Mumbai",
        "Delhi",
        "Kolkata",
        "Sangli"
        };
      }
      <partial name="_ListPartialView" view-data="myViewData"></partial>
</div>
