<h1>Home</h1>
@{
    var ListModel = new ListModel();
    ListModel.Title = "Countries";
    ListModel.ListItems = new List<string>
    {
        "India",
        "Us",
        "China",
        "Russia",
        "Israel"
    };
}

<partial name="_ListPartialView" model="ListModel"></partial>
