@{
    ViewData["Title"] = "Contact";
}

<html xmlns="http://www.w4.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Contact
    </h1>
    <p>This is contact page!</p>
</body>
</html>
