@{
    ViewData["Title"] = "Home";
}

<html xmlns="http://www.w4.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <h1>
        Home
    </h1>
    <p>This is home page!</p>
</body>
</html>