@using ViewExample.Models
@model Person
<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="box float-left w-50">
        <h1> @Model.PersonName</h1>
        <table class="table w-100">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>@Model.PersonName</td>
                </tr>
                @if (Model.DOB != null)
                {
                    <tr>
                        <td>DOB</td>
                        <td>@Model.DOB</td>
                    </tr>
                }
                <tr>
                    <td>Gender</td>
                    <td>@Model.Gender</td>
                </tr>
            </tbody>
        </table>
        <a href="/home">Back to persons</a>
    </div>
</body>
</html>
