@using ViewExample.Models
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
    <h1>Welcome</h1>
    @{
        List<Person>? people = (List<Person>?)ViewData["people"];
    }
    @foreach(var person in people)
    {
        <span>@person.PersonName</span>
        <span>,</span>
        <span>@person.Gender</span>
        <span>,</span>
        <span>@person.DOB</span>
        <br/>
    }
</body>
</html>